{% extends 'base.html.twig' %}
{% block body %}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="h3">Filtros</h3>
            <div class="form-group">
                {{ form(indexForm) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                   <th scope="col">ID Order</th>
                   <th scope="col">Fecha Pedido</th>
                   <th scope="col">Nombre</th>
                   <th scope="col">Apellidos</th>
                   <th scope="col">Dirección de envio</th>
                   <th scope="col">País de envio</th>
                   <th scope="col">Productos</th>
                   <th scope="col">Estado</th>
                   <th scope="col">Ver</th>
                </tr>
                </thead>
                <tbody>
                {% for order in totalOrders %}
                    <tr>
                        <th>{{ order.idOrder }}</th>
                        <th>{{ order.fechaPedido|date('Y-m-d') }}</th>
                        <th>{{ order.nombreEnvio }}</th>
                        <th>{{ order.apellidoEnvio }}</th>
                        <th>{{ order.direccionEnvio }}</th>
                        <th>{{ order.paisEnvio }}</th>
                        <th>{{ order.productos }}</th>
                        <th>{{ order.estado }}</th>
                        <th>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Open Modal</button>
                            <a  class="btn btn-primary" href="ruta_pantalla_editarEstado" > Cambiar estado</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID Order</th>
                        <th scope="col">Fecha Pedido</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Dirección de envio</th>
                        <th scope="col">País de envio</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in totalOrders %}
                        <tr>
                            <th>{{ order.idOrder }}</th>
                            <th>{{ order.fechaPedido|date('Y-m-d') }}</th>
                            <th>{{ order.nombreEnvio }}</th>
                            <th>{{ order.apellidoEnvio }}</th>
                            <th>{{ order.direccionEnvio }}</th>
                            <th>{{ order.paisEnvio }}</th>
                            <th>{{ order.productos }}</th>
                            <th>{{ order.estado }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
